.nav__s {
  background-color: red;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 30px;
  width: 30px;
  position: absolute;
  top: -25px;
  right: -10px;
  animation: nav__ss 3s ease-in-out infinite;
}

@keyframes nav__ss {
  0% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

.nav__ss {
  background-color: red;
  display: flex;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  position: absolute;
  right: -10px;
  animation: nav__sss 3s ease-in-out infinite;
}

@keyframes nav__sss {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.badge {
  position: absolute;
  right: 5px;
  top: -4px;
  height: 5px;
  width: 5px;
}
