.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 30px 25px;
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span:not(.nav__ss) {
  padding: 0px 10px;
}
